<div class="sidebar col-md-3 bg-light">
    <nav class="sidebar-sticky">
        <p class="menu-label">
            Général
        </p>
        <ul class="menu-list">
            <li><a href="{{ path('admin_dashboard') }}">Dashboard</a></li>
            <li><a>Utilisateurs</a></li>
            <li><a href="{{ path('admin_contact') }}">Contact</a></li>
        </ul>
        <p class="menu-label">
            Contenus
        </p>
        <ul class="menu-list">
            <li><a href="{{ path('admin_post') }}">Posts</a></li>
            <li><a>Pages</a></li>
            <li><a>Liens</a></li>
            <li><a>Projets</a></li>
        </ul>
    </nav>
</div>