<nav class="navbar bg-dark sticky-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ path('home') }}">
                Florian Fazer
            </a>
            <div class="navbar-burger burger" data-target="hidden-burger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu" id="hidden-burger-menu">
            <div class="navbar-start">

            </div>
            <div class="navbar-end" >
                <a class="navbar-item " href="#">
                    A Propos
                </a>
                <a class="navbar-item " href="#">
                    Contact
                </a>
            </div>
        </div>
    </div>
</nav>